.skillSection {
  display: flex;
  max-width: 1400px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.skillSvg {
  flex-grow: 0;
  width: 50px;
  /* padding: 40px; */
  margin: 40px 40px 40px 40px;
}

.skillSvg:hover {
  filter: invert(25%) sepia(88%) saturate(6778%) hue-rotate(340deg)
    brightness(88%) contrast(96%);
}

@media screen and (min-width: 768px) {
  .skillsContainer {
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    border-radius: 5px;
  }
}
