.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 0px auto;
  padding: 15px;

  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 5px;
  max-width: 90%;
}

.aboutHeader {
  margin: 0;
}

.firstPara {
  padding: 10px;
  text-align: center;
  max-width: 500px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}
